// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright (C) 2022 Arm Ltd.

#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;

#include "allwinner/sun8i-t113s.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/ {
	model = "Phyx Tess T113-S3";
	compatible = "phyx,tess-t113", "allwinner,sun8i-t113s";

	aliases {
		serial3 = &uart3;
	};

	chosen {
		stdout-path = "serial3:115200n8";
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			color = <LED_COLOR_ID_GREEN>;
			function-enumerator = <0>;
			function = LED_FUNCTION_DISK;
			gpios = <&pio 6 14 GPIO_ACTIVE_LOW>; /* PG14 */
		};

		led-1 {
			color = <LED_COLOR_ID_GREEN>;
			function-enumerator = <1>;
			function = LED_FUNCTION_STATUS;
			gpios = <&pio 4 9 GPIO_ACTIVE_LOW>; /* PE9 */
		};

		led-2 {
			color = <LED_COLOR_ID_GREEN>;
			function-enumerator = <2>;
			function = LED_FUNCTION_USB;
			gpios = <&pio 4 8 GPIO_ACTIVE_LOW>; /* PE8 */
		};
	};

	/* board wide 5V supply directly from the USB-C socket */
	reg_vcc5v: regulator-5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	/* SY8008 DC/DC regulator on the board */
	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc5v>;
	};

	/* SY8008 DC/DC regulator on the board, also supplying VDD-SYS */
	reg_vcc_core: regulator-core {
		compatible = "regulator-fixed";
		regulator-name = "vcc-core";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <880000>;
		vin-supply = <&reg_vcc5v>;
	};

	touch_reg: touch_reg@1 {
		compatible = "regulator-fixed";
		regulator-name = "touch_reg_1";
		gpio = <&display_mcu 1 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <50000>;
		enable-active-high;
		regulator-boot-on;
	};
};

&cpu0 {
	cpu-supply = <&reg_vcc_core>;
};

&cpu1 {
	cpu-supply = <&reg_vcc_core>;
};

&de {
	status = "okay";
};

&dphy {
	status = "okay";
};

&dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	vcc-dsi-supply = <&reg_3v3>;
	pinctrl-names = "default";
	pinctrl-0 = <&dsi_4lane_pins>;
	status = "okay";

	panel: panel@0 {
		reg = <0>;
		compatible = "raspberrypi,dsi-7inch";
		reset-gpio = <&display_mcu 0 GPIO_ACTIVE_LOW>;
		backlight = <&display_mcu>;
		power-supply = <&reg_3v3>;
		status = "okay";

		port {
			panel_in: endpoint {
				remote-endpoint = <&tcon_lcd0_out_dsi>;
			};
		};
	};
};

&tcon_lcd0 {
    status = "okay";
};

&gpadc {
	status = "okay";
};

&dmic {
	status = "okay";
};

&rtc {
	status = "okay";
};

&dcxo {
	clock-frequency = <24000000>;
};

/* SD card chip storage */
&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>;
	vmmc-supply = <&reg_3v3>;
	disable-wp;
	bus-width = <4>;
	status = "okay";
};

&pio {
	vcc-pb-supply = <&reg_3v3>;
	vcc-pd-supply = <&reg_3v3>;
	vcc-pe-supply = <&reg_3v3>;
	vcc-pf-supply = <&reg_3v3>;
	vcc-pg-supply = <&reg_3v3>;

	/omit-if-no-ref/
	uart2_pe_pins: uart2-pe-pins {
		pins = "PE0", "PE1", "PE2", "PE3";
		function = "uart2";
	};

	/omit-if-no-ref/
	uart4_pe_pins: uart4-pe-pins {
		pins = "PE4", "PE5";
		function = "uart4";
	};

	/omit-if-no-ref/
	uart5_pb_pins: uart5-pb-pins {
		pins = "PB4", "PB5";
		function = "uart5";
	};

	/omit-if-no-ref/
	i2c2_pd_pins: i2c2-pd-pins {
		pins = "PD20", "PD21";
		function = "i2c2";
	};

	/omit-if-no-ref/
	i2c3_pe_pins: i2c3-pe-pins {
		pins = "PE6", "PE7";
		function = "i2c3";
	};

	/omit-if-no-ref/
	spi1_pd_pins: spi1-pd-pins {
		pins = "PD11", "PD12", "PD13";
		function = "spi1";
	};

	/omit-if-no-ref/
	gpio_out_pe_pins: gpio-out-pe-pins {
		pins = "PE10", "PE11"; /* esp-c3 boot/reset */
		function = "gpio_out";
	};

	/omit-if-no-ref/
	dsi_gpio_pd_pins: dsi-gpio-pd-pins {
		pins = "PD14", "PD15";
		function = "gpio_out";
	};
};

/* esp32-c3 BLE uart */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pe_pins>;
	status = "okay";
};

/* shell */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pb_pins>;
	status = "okay";
};

/* esp32-c3 programming */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pe_pins>;
	status = "okay";
};

/* feather uart */
&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_pb_pins>;
	status = "okay";
};

/* expansion/dsi i2c */
&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pd_pins>;
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	display_mcu: display_mcu@45 {
		compatible = "raspberrypi,v2-touchscreen-panel-regulator";
		reg = <0x45>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	gt911: gt911@5d {
		compatible = "goodix,gt911";
		reg = <0x5d>;
		AVDD28-supply = <&touch_reg>;
		touchscreen-size-x = <720>;
		touchscreen-size-y = <1280>;
		touchscreen-x-mm = <90>;
		touchscreen-y-mm = <151>;
	};
};

/* feather i2c */
&i2c3 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3_pe_pins>;
	status = "okay";
};

/* esp32-c3 wifi spi */
&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins>;
	status = "okay";
};

/* feather spi */
&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pd_pins>;
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

/* The USB-C socket has its CC pins pulled to GND, so is hardwired as a UFP. */
&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_vcc5v>;
	status = "okay";
};